ul {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 16px;

    text-decoration: none;
    list-style-type: none;
    font-size: 1.5rem;
}

.active-tag{
    text-decoration: none;
    border-bottom:1px solid purple;
    color: purple;
}

.inactive-tag{
    text-decoration: none;
    color: grey;
}

a:hover {
    color: purple;
}


