ul {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 16px;

    text-decoration: none;
    list-style-type: none;
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: blueviolet;
}