* {
    font-family: Helvetica;
}

.hero-tag {
    font-size: 4rem;
    color: White;
}

.main-contain {
    height: 100%;

    border-radius: 16px;
    padding: 16px;
    background-color: #333333;
}
