h3{
    text-align:end;
}
.card-contain{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    grid-gap:8px;
}
.card{
    display:flex;
    flex-direction:row;
    gap:8px;

    border-radius:16px;
    padding:16px;
}
.card-img{
    border-radius:60px;
    height:100px;
}
.card-details-contain{
    display:flex;
    flex-direction:column;
    align-self:center;
}
.card-title{
    font-size:24px;
}
