h3 {
    text-align: end;
    display: inline;
}

.card-contain {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 8px;
}

.bullet {
    display: inline;
    margin-right: 10px;
    width: 20px;
    height: 10px;
    border-radius: 10px;
    align-self: end;
    padding: 2px 10px;
}

.card {
    display: flex;
    flex-direction: row;
    gap: 8px;

    border-radius: 16px;
    padding: 16px;
}

.card-details {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.card-img {
    border-radius: 60px;
    height: 100px;
}

.card-details-contain {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.card-title {
    font-size: 24px;
}