h3 {
    text-align: end;
    display: inline;
}

.bullet {
    display: inline;
    margin-right: 10px;
    width: 20px;
    height: 10px;
    border-radius: 10px;
    align-self: end;
    padding: 2px 10px;
}

.card-contain {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 8px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 8px;

    border-radius: 16px;
    padding: 16px;
}

.card-img {
    border-radius: 60px;
    height: 100px;
}

.card-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.card-title {
    font-size: 24px;
}

.card-display {
    font-size: 3rem;
}

.user-card {
    padding: 16px;
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}